body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding:8px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  font-size: 16px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  font-size: 16px;
  padding: 16px 64px; /* top/bottom | left/right */
}